<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   layout:decorate="~{basic}">
	<head>
		<title>Ticketa</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>
		<div layout:fragment="content" class="container my-5">

			<!-- Content start -->
			<div class="center-align">
				<h1 class="title thin condensed">TRIPS</h1>
			</div>
			<div class="container">
				<div class="row">
					<div class="card p-0 col-12 z-depth-1 pagination">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Origin</th>
									<th>Destination</th>
									<th>Departure</th>
									<th>Price</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="trip : ${trips}">
									<td th:text="${trip.tripId}"></td>
									<td th:text="${trip.stationId.stationName}"></td>
									<td th:text="${trip.stationidStation.stationName}"></td>
									<td th:text="${trip.tripTime}"></td>
									<td th:text="${trip.tripPrice}"></td>
									<td><a class="btn btn-primary" th:href="@{tickets/view/} + ${trip.tripId}">Book</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- Content ends -->

		</div>
	</body>
</html>
