<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	   layout:decorate="~{basic}">
	<head>
		<title>Ticketa</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>

	<body>
		<div layout:fragment="content">
			<div class="container">
				<div class="row justify-content-center m-5 p-5">
					<h4><a th:href="@{/dashboard}" class="text text-center text-success">SUCCESS...!!!</a></h4>
				</div>
			</div>
		</div>
	</body>
</html>
